---
import ListItem from './ListItem.astro';

interface Props {
	title: string;
	img: string;
	leftAnchor: string;
	rightAnchor?: string;
}

const { leftAnchor, title, rightAnchor, img } = Astro.props;
---

<div class="flex flex-col items-ceter justify-center p-5">
	<img class="h-30 w-64" src={`/public/${img}`} alt={title}>
	<b class="self-center">{title}</b>
	<ul class="self-center flex gap-6">
		<ListItem text={leftAnchor}/>
		{
			rightAnchor && (<ListItem text={rightAnchor}/>)
		}
	</ul>
</div>